{% extends "blog/Base.html"%}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <h2>{{ post.title }}</h2>
            <div style="display:flex">
                {% for tag in post.tags.all %}
                <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>
            <a href="{% url 'user-profile' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
            {% if post.author == user %}
            <div>
                <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'update' post.slug %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' post.slug %}">delete</a>
            </div>

            {% endif %}
            {{ post.content|safe }}

            <h4>
                Comments {% if comments %}({{comments.count }}){% endif %}</h4>
            <hr>


            <div class="card my-4 container">
                <h5 class="card-header">Add Comment:</h5>
                <div class="card-body">
                    <form method="post" action="{% url 'comment' post.slug %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">comment</label>
                            <textarea name="comment_content" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger my-3">Add</button>
                    </form>
                </div>
            </div>
            {% if comments %}
            {% for comment in comments  %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle"
                    src="https://raw.githubusercontent.com/Shiladitya070/project-volt/master/media/default.jpg"
                    height="50" width="50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.comment_author}}</h5>
                    <small class="text-muted">{{comment.comment_date}}</small> <br>
                    {{comment.comment_content}}
                </div>
            </div>
            {% endfor %}


            {% else %}
            <div class="alert alert-danger">
                No comments have been written on this article, be the first to comment!
            </div>
            {% endif %}
        </div>

    </div>


</div>
</div>
</div>
{%endblock content%}