{% extends "blog/Base.html"%}
{% block content %}
<div class="container mb-2 posts">
    <div class="row">

        {% for post in posts %}
        <div class="col-md-6">
            <div class="cards">
                <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="my-1"><a href="{% url 'post-detail' post.slug %}">{{post.title}}</a></h3>
                        <div style="display:flex">
                            {% for tag in post.tags.all %}
                            <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <p class="mb-auto text-muted">{{post.date_posted}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock content%}